# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build cache
**/vendor/
/pkg/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
ENV/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Fyne / GUI build artifacts
*.db
*.exe
*.zip

# Git
*.orig
